.container {
    position: relative;
  }
  
  .bus-image {
    width: 100%;
    height: auto;
  }
  
  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    font-weight: bold;
  }
  
  h1 {
    font-size: 36px; /* Increase the font size as needed */
    margin-bottom: 20px;
    color: #000;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-size: 18px; /* Increase the font size as needed */
  }
  
  input[type="text"],
  input[type="date"],
  input[type="number"] {
    padding: 10px;
    font-size: 16px; /* Increase the font size as needed */
  }
  
  input[type="submit"] {
    margin-top: 10px;
    font-size: 16px; /* Increase the font size as needed */
  }
  
  #results {
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
  }
  